{% extends "base.html" %}

{% block body %}
    <div class="container-fluid">
      <h3 class="m-4">All Students</h3>
      <div class="row">
        <div class="col-12">
          {% if students %}
          <div class="card bg-light ms-4 mc-4 mb-4">
            <div class="card-header">
              <i class="fa-solid fa-list fa-lg"></i> Students Records
            </div>
            <div class="card-body">
              <p class="card-text">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Locker Number</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Email</th>
                        <th scope="col">Enter Time</th>
                        <th scope="col">Exit Time</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
            
                     {% for student in students%}
                     <tr>
                      <td>{{ student.locker_number }}</td>
                      <td>{{ student.user_name }}</td>
                      <td>{{ student.phone_number }}</td>
                      <td>{{ student.email }}</td>
                      <td>{{ student.enter_time }}</td>
                      <td>{{ student.exit_time }}</td>
                      <td>
                        <button type="button" class="btn btn-success mc-1" href="{% url 'view_student' student.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{ student.id }}">
                          <i class="fa-solid fa-circle-info"></i>
                        </button>

                        {% comment %} modal view_student {% endcomment %}
                        <div class="modal" id="myModal{{ student.id }}" tabindex="-1" aria-labelledby="myModal1" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">
                                  Student: {{ student.user_name }} {{ student.phone_number }} 
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true"></span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <ul class="list-unstyled">
                                  <li>Locker Number: <strong>{{ student.locker_number }}</strong></li>
                                  <li>User Name: <strong>{{ student.user_name }}</strong></li>
                                  <li>Phone Number: <strong>{{ student.phone_number }}</strong></li>
                                  <li>Email: <strong>{{ student.email }}</strong></li>
                                  <li>Enter Time: <strong>{{ student.enter_time }}</strong></li>
                                  <li>Exit Time: <strong>{{ student.exit_time }}</strong></li>
                                </ul>
                              </div>
                              <div class="modal-footer">
                                
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                           
                       

                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete{{student.id}}">
                          <i class="fa-solid fa-trash-can fa-lg"></i>
                        </button>

                        {% comment %} modal view_student {% endcomment %}
                        <div class="modal" id="delete{{ student.id }}" tabindex="-1" aria-labelledby="myModal2" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title">
                                          Student: {{ student.user_name }} {{ student.phone_number }}
                                      </h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true"></span>
                                      </button>
                                  </div>
                                  <div class="modal-body">
                                      <p>Are you sure you want to delete this student?</p>
                                  </div>
                                  <div class="modal-footer">
                                      <form action="{% url 'delete' student.id %}" method="POST">
                                          {% csrf_token %}
                                          <input type="submit" class="btn btn-primary" value="delete">
                                      </form>
                                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                      </td>
                     </tr>
                     {% endfor %}
                      
                    </tbody>
                  </table>
                </div>
              </p>
            </div>
          </div>
          {% else %}
            <h5 class="alert alert-primary ms-4 mc-4"> No Student Records</h5>
          {% endif %}
          
        </div>
      </div>
    </div>

{% endblock %} 
    